@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("assets/fonts/PretendardVariable.woff2") format("woff2-variations");
}

.button {
  @apply border-2 border-black font-hanna rounded-2xl flex justify-center items-center min-h-[50px];
}
